// colors
$primary-color: rgb(18, 18, 18);
$secondary-color: rgb(35, 35, 35);
$danger: red;
$success: green;
$white: white;
$yellow: yellow;
$light-green: rgb(78, 218, 146);
$grey: #ccc;
$dark-grey: #777;
$light-grey: #efefef;
