@import "../../sass/partials/variables";

.appbar-container {
  height: 54px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0px 12px;
  background-color: $secondary-color;
  position: fixed;
  top: 0;
  z-index: 999;
}

.brand {
  display: flex;
  flex: 1;
  align-items: center;
  & img {
    height: 20px;
    width: 20px;
    margin-right: 12px;
  }

  & .small {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    font-size: 14px;
    margin-bottom: 0;
    margin-right: 4px;
  }

  & span {
    color: $white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
  }
}

.search-container {
  display: flex;
  width: 480px;
  flex: 2;
  .search-input {
    border: 0.5px solid #444;
    border-right-width: 0;
  }
  & .icon {
    background-color: #333;
    padding: 0 8px;
    // height: 38px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

    & img {
      width: 20px;
      height: 20px;
      transform: translateY(50%);
    }
  }
}

.appbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  & span:nth-child(2) {
    color: $white;
    font-size: 12px;
    margin-right: 16px;
  }
  & img {
    cursor: pointer;
    height: 16px;
    margin-right: 4px;
    margin-bottom: -4px;
  }

  & .icon {
    margin-right: 8px;
    &:hover {
      filter: invert(100%);
    }
  }

  & .account {
    display: flex;
    align-items: center;
    & img {
      width: 32px;
      height: 32px;
      border-radius: 16px;
      margin-right: 4px;
    }

    & div {
      color: $white;
      font-size: 12px;
    }
  }
}

.sidebar-container {
  position: fixed;
  overflow-x: hidden;
  z-index: 999;
  color: $white;
  background-color: $secondary-color;
  width: 200px;
  height: 100%;

  &-small {
    width: 80px;
  }

  & .nav-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 12px;
    & img {
      margin-right: 12px;
      margin-top: -4px;
      width: 16px;
      height: 16px;
    }
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 700;
  }

  & .active {
    background-color: #444;
  }
}
